.slider-container {
    position: relative;
    height: 430px; 
    margin: 0 auto;
    overflow: hidden;
  }

  .slider-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
    top: 45%;
  }
  
  .next-button {
    right: 10px;
    top: 45%;
  }
  .indicator-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: coral; 
  }
  .slider-description {
    max-width: 800px;
    margin: 0 auto; 
    margin:50px 100px 50px 100px;
}
  .slider-content img {
    border-radius: 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 80%;
    margin: 0 auto; 
    display: block; 
}


@media only screen and (max-width: 600px)
{
  .slider-container{
    height:300px
  }
  .slider-button{
    display: none;
  }
  .slider-container {
    width: 90%;

  }
  .slider-container img{
    width: 100%;
    border-radius: 1px;
  }
  .slider-description{
   margin: 0;
   padding-top: 20px;
  }
}