.slider-container {
    position: relative;
    width: 1000px; 
    height: 430px; 
    margin: 0 auto;
    overflow: hidden;
  }

  .slider-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
    top: 45%;
  }
  
  .next-button {
    right: 10px;
    top: 45%;
  }
  .indicator-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #fff; /* Màu cho slide hiện tại */
  }
  .slider-description{
    max-width: 800px;
    margin-left: 55px;
  }