.main{
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 400px){
    .main{
        width: 100%;
        }
}


@media only screen and (max-width: 600px)
{
    .main{
    width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px){
    .main{
        width: 100%;
        }
}

@media only screen and (min-width: 801px) and (max-width: 1024px)
{
    .main{
        width: 100%;
        }
}
