.profile_2{
    background-color: #ccc;
    height: 100vh;
}
.profile_2_svg{
    display: block;
    margin: 0 auto;
}
.profile2_menu{
display: flex;
flex-direction: column;
margin-top: 50px;
}
.profile2_menu button{
    border: none;
    margin-top: 20px;
    background-color: #ccc;
    text-align: left;
    margin-left: 20px;
    color: var(--2, #212353);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */
letter-spacing: 0.1px;
cursor: pointer;
}
.profile_button{
    border-radius: 50px;
background: var(--3, #9C69E2);
box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
width: 200px;
height: 40px;
border: none;
cursor: pointer;
}
.profile_input{
    border-radius: 6px;
border: 1px solid #000;
background: #FDFDFD;
height: 40px;
width: 300px;
outline: none;
padding-left: 20px;
margin-left: 30px;
font-size: 18px;
font-weight: 700;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid #000;
background: #D9D9D9;
}
th, td {
    padding: 5px;
}
.profile_table button{
    border: none;
    background-color: #D9D9D9;
    cursor: pointer;
}
.profile_table {
  
}
.profile_table-button:hover{
    background-color: red;
}
.profile_table-button:first-child:hover{
    background-color: greenyellow;
}

.profile_tab{
   padding: 20px;
}
table{
    margin-top: 50px;
    font-size: 13px;
}
.abcc{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
height: 17px;
cursor: pointer;
}
.table_acction{
    border-bottom: 1px solid #000;
}

.textarea{
    width: 290px;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
}
.textarea::placeholder{
    padding-top: 16px;
    font-size: 15px;
}

.phantrang{
    text-align: center;
}


@media only screen and (max-width: 600px)
{
    .profile_2{
        height: 130px;
    }
    .profile2_menu{
        display: flex;
        flex-direction: row;
    }
    .profile2_menu button{
margin-top: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px){
    .profile_2{
        height: 130px;
    }
    .profile2_menu{
        display: flex;
        flex-direction: row;
    }
    .profile2_menu button{
margin-top: 0;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px)
{
    .profile_2{
        height: 130px;
    }   
    .profile2_menu{
        display: flex;
        flex-direction: row;
    }
    .profile2_menu button{
            margin-top: 0;
    }
}